<div class="container">
    <div class="pb-5 m-5">
        <h3 class="text-center">Login Form</h3>
        <form [formGroup]="myForm" (ngSubmit)="formSubmit()">
            <div class="form-group">
                <label for="gmail">Email Address <span class="required">*</span></label>
                <input type="email" class="form-control" formControlName="email" placeholder="example@gmail.com" name="email">
                <span class="required" *ngIf="email.errors && (email.dirty || email.touched)">
                    <span *ngIf="email.errors.required">Email is required</span>
                    <span *ngIf="email.errors.pattern">Enter valid email</span>
                </span>
            </div>
            <div class="form-group">
                <label for="pass">Password <span class="required">*</span></label>
                <input type="password" class="form-control" formControlName="pass" placeholder="Enter Your Password" name="pass">
                <span class="required" *ngIf="pass.errors && (pass.dirty || pass.touched)">
                    <span *ngIf="pass.errors.required">Password is required</span>
                    <span *ngIf="pass.errors.pattern">At least 8 digit enter password</span>
                </span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>