<div class="container">
    <div class="m-5 cl-pd">
        <h1 class="text-center">Data Table</h1>
    </div>
    <div class="m-5 new-mar border">
        <input type="text" id="myInput" placeholder="Search for names.." [(ngModel)]="nameSearch">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Websites</th>
                  </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let user of products | filter:nameSearch">
                    <tr>
                        <th scope="row">{{user.id}}</th>
                        <td>{{user.name}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.phone}}</td>
                        <td>{{user.website}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>